{% extends "base.html" %}

{% block content %}
<div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1" xmlns="http://www.w3.org/1999/html">
    {% if object.picture %}
        <img src="{{ object.picture.url }}" id="project_detail_picture">
    {% endif %}
    <h1>{{ object.title }}</h1>
    </br>
    <table>
        <tbody>
            <tr>
                <td width="200">Title:</td>
                <td><div class="well well-sm">{{ project.title|linebreaks }}</div></td>
            </tr>
            <tr>
                <td>Creator:</td>
                <td><div class="well well-sm">{{ project.created_by }}</div></td>
            </tr>
            <tr>
                <td>Idea:</td>
                <td><div class="well well-sm">{{ project.idea|linebreaks }}</div></td>
            </tr>
            <tr>
                <td>Goal:</td>
                <td><div class="well well-sm">{{ project.goal|linebreaks }}</div></td>
            </tr>
            <tr>
                <td>State:</td>
                <td><div class="well well-sm">{{ project.state|linebreaks }}</div></td>
            </tr>
            <tr>
                <td>Next Steps:</td>
                <td><div class="well well-sm">{{ project.next_steps|linebreaks }}</div></td>
            </tr>
            <tr>
                <td>Preferred Skills:</td>
                <td><div class="well well-sm">{{ project.preferred_skills|linebreaks }}</div></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}