{% extends "base_detail.html" %}

{% block detail_nav %}
<li role="presentation" class="active"><a href="{% url 'projectwe:detail' project.id %}">Details</a></li>
<li role="presentation"><a href="{% url 'projectwe:members' project.id %}">Members</a></li>
{% endblock %}

{% block detail_content %}
    <div class="col-md-8 col-md-offset-1">
        <div class="panel panel-default panel-project-detail no-radius">
            <div class="panel-heading">
                <h3 class="panel-title">Idea:</h3>
            </div>
            <div class="panel-body">
                {{ project.idea|linebreaks }}
            </div>
        </div>
    </div>
    <div class="col-md-8 col-md-offset-1">
        <div class="panel panel-default panel-project-detail no-radius">
            <div class="panel-heading">
                <h3 class="panel-title">Goals:</h3>
            </div>
            <div class="panel-body">
                {{ project.goal|linebreaks }}
            </div>
        </div>
    </div>
    <div class="col-md-8 col-md-offset-1">
        <div class="panel panel-default panel-project-detail no-radius">
            <div class="panel-heading">
                <h3 class="panel-title">State:</h3>
            </div>
            <div class="panel-body">
                {{ project.state|linebreaks }}
            </div>
        </div>
    </div>
    <div class="col-md-8 col-md-offset-1">
        <div class="panel panel-default panel-project-detail no-radius">
            <div class="panel-heading">
                <h3 class="panel-title">Next Steps:</h3>
            </div>
            <div class="panel-body">
                {{ project.next_steps|linebreaks }}
            </div>
        </div>
    </div>
    <div class="col-md-8 col-md-offset-1">
        <div class="panel panel-default panel-project-detail no-radius">
            <div class="panel-heading">
                <h3 class="panel-title">Preferred Skills:</h3>
            </div>
            <div class="panel-body">
                {{ project.preferred_skills|linebreaks }}
            </div>
        </div>
    </div>
{% endblock %}