{% extends "base.html" %}

{% block content %}
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

        <h1>Welcome to the Project-We</h1>

        <p>Project-We is the platform to connect with people all over the world, who share the same passion as you
            do.

            Here you can upload your Dreams, Ideas and Visions to find the right team members for your Projects.

            Project-We is based on the belief, that the shared passion in a team is the key to success. Project-We
            offers
            the space to connect, to share, to inspire and to be inspired. To grow and to learn.

            It's a space to manifest your dreams into reality.</p>

        <p>Every idea is welcome. Be it to strengthen the relation between Japan and Switzerland or the curiosity and
            interest to work with prisoners. Maybe you want to make your home-town to the most colorful city in the
            world, or you like to strengthen your project working skills and share your knowledge with passionate
            people.

            It doesn`t matter if you have already a concept or if you`re in the phase of inspiration and dreaming.
            Upload
            what you have, post it, share it and build a solid foundation.</p>


        <p>“If you want to go fast, go alone. If you want to go far, go together.” African proverb</p>
    </div>
{% endblock %}