{% extends "base_detail.html" %}

{% block detail_nav %}
<li role="presentation"><a href="{% url 'projectwe:detail' project.id %}">Details</a></li>
<li role="presentation" class="active"><a href="{% url 'projectwe:members' project.id %}">Members</a></li>
{% endblock %}

{% block detail_content %}
    <div class="col-md-8 col-md-offset-1">
        <div class="panel panel-default panel-project-detail no-radius">
            <div class="panel-heading">
                <h3 class="panel-title">Founder:</h3>
            </div>
            <div class="panel-body">
                <img src="{{ project.created_by.country.flag }}"> <a href="{% url 'projectwe:profile' project.created_by.user.username %}">{{ project.created_by.get_display_name }}</a>
            </div>
        </div>

        <div class="panel panel-default panel-project-detail no-radius">
            <div class="panel-heading">
                <h3 class="panel-title">Members:</h3>
            </div>
            <div class="panel-body">
                {% for member in project.members.all %}
                    <img src="{{ member.country.flag }}"> <a href="{% url 'projectwe:profile' member.user.username %}">{{ member.get_display_name }}</a>
                    {% if member.user == user %}
                        <a class="col-md-offset-8" href="{% url 'projectwe:leave_project' project.id %}"><button type="button" class="no-radius flat-butt">Leave</button></a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}