{% extends 'base.html' %}

{% block content %}
    <div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1" xmlns="http://www.w3.org/1999/html">
        <div id="logo" class="col-md-1">
        {% if profile.profile_picture %}
            <img alt="{{ profile.profile_picture.name }}" src="{{ profile.profile_picture.url }}" id="profile_picture" height="100">
        {% else %}
            <h1>No Logo</h1>
        {% endif %}
        </div>
        <div id="user_details" class="col-md-6 page-header">
            <h2>{{ profile.get_display_name }}</h2>
        </div>
        {% block controls %}
            <div class="col-md-3">
                {% if profile.user == request.user %}
                <a href="{% url 'projectwe:profile_edit' profile.user.username %}"><button type="button" class="no-radius flat-butt">Edit</button></a>
                {% endif %}
            </div>
        {% endblock %}
        <div class="col-md-12 col-lg-12">
            <img src="{{ profile.country.flag }}"> {{ profile.country.name }}
        </div>
    </div>
{% endblock %}